hide.py
__pycache__/hide.cpython-310.pyc
~$*
Template.xlsx
__pycache__/functions.cpython-310.pyc
scratch.txt
__pycache__/excel.cpython-310.pyc
__pycache__/functions.cpython-38.pyc
__pycache__/hide.cpython-38.pyc
projects.txt
test.ipynb
*.pyc
.vscode
resources/Planner.xltx
resources/Template.xltx
.ipynb_checkpoints
.claude
